@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  // Maven Pro
  @font-face {
    font-family: "Maven Pro";
    font-weight: variable-exists($name: MavenPro-VariableFont_wght);
    font-display: swap;
    src: url(./../assets/fonts/maven_pro/MavenPro-VariableFont_wght.ttf)
      format(truetype);
  }
}

:root {
  --flow-spacer: var(--spacer-primary);

  --spacer-primary: theme("spacing.4");
  --spacer-secondary: theme("spacing.2");
  --spacer-lg: theme("spacing.7");
  --spacer-xl: theme("spacing.8");
}

body {
}

a {
  &:hover {
    text-decoration: underline;
  }
}

button {
  color: theme("colors.stone.50");
  background-color: theme("colors.stone.500");
  border-radius: theme("borderRadius.sm");
  box-shadow: theme("boxShadow.md");
  padding-block: theme("spacing.3");
  padding-inline: theme("spacing.4");
  font-weight: theme("fontWeight.medium");
  font-family: theme("fontFamily.heading");
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: theme("colors.stone.600");
  }
}

.flow {
  --_flow-spacer: var(--flow-spacer);

  & > * + * {
    margin-block-start: var(--_flow-spacer);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
